@model List<Garaaz.Models.Coupon>

@if (Model.Count > 0)
{
    <ul>
        @foreach (var coupon in Model)
        {
            <li>@coupon.CouponNumber</li>
        }
    </ul>
}
else
{
    <p>No coupons available for this workshop.</p>
}

