@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Assign Gift";
    var controller = this.ViewContext.RouteData.GetRequiredString("controller");
}
<div class="kt-subheader-search">
    <h3 class="kt-subheader-search__title">
        Assign Gift
    </h3>
</div>

<header class="ribbon">
    <h2>&nbsp;</h2>
</header>
<div class="page-content">
    <div class="container-fluid">
        @{Html.RenderPartial("alerts");}
        <input type="hidden" id="PageView" value="/@controller/AssignGiftPartialView?schemeId=@ViewBag.SchemeId" />
        <div id="main-content">
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/schmes.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var url = $("#PageView").val();
            admin.LoadPartialView(url);
        });
    </script>
}
