<ul class="kt-menu__nav ">
    <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true">
        <a href="/WorkShop/index" class="kt-menu__link ">
            <i class="kt-menu__link-icon flaticon2-protection"></i>
            <span class="kt-menu__link-text">Dashboard</span>
        </a>
    </li>

    <li class="kt-menu__item " aria-haspopup="true">
        <a href="/WorkShop/WorkshopUsers" class="kt-menu__link ">
            <i class="kt-menu__link-icon flaticon2-user-outline-symbol"></i>
            <span class="kt-menu__link-text">Users</span>
        </a>
        <a href="/Home/Brands/" class="kt-menu__link ">
            <i class="kt-menu__link-icon flaticon2-console"></i>
            <span class="kt-menu__link-text">Part Search</span>
        </a>
        <a href="/WorkShop/Schemes" class="kt-menu__link ">
            <i class="kt-menu__link-icon flaticon2-box"></i>
            <span class="kt-menu__link-text">Schemes</span>
        </a>
        <a href="/WorkShop/AllOrders" class="kt-menu__link ">
            <i class="kt-menu__link-icon flaticon2-analytics"></i>
            <span class="kt-menu__link-text">My Orders</span>
        </a>
        <a href="/home/SalesGrowth" class="kt-menu__link ">
            <i class="kt-menu__link-icon flaticon2-graphic"><span></span></i>
            <span class="kt-menu__link-text">Sales Growth</span>
        </a>
    </li>    
</ul>
