<ul class="kt-menu__nav ">
    <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true">
        <a href="/admin/index" class="kt-menu__link ">
            <i class="kt-menu__link-icon flaticon2-protection"></i>
            <span class="kt-menu__link-text">Dashboard</span>
        </a>
    </li>

    <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <i class="kt-menu__link-icon flaticon2-list-3"></i>
            <span class="kt-menu__link-text">Masters</span>
            <i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="kt-menu__submenu ">
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Admin/Distributor" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Distributor</span>
                    </a>
                </li>
                <li class="kt-menu__item" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="/Admin/Schemes" class="kt-menu__link kt-menu__toggle">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Schemes</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/Feature" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Features List</span>
                    </a>
                </li>

                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/Brand" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Brand</span>
                    </a>
                </li>

                @*<li class="kt-menu__item " aria-haspopup="true">
            <a href="/admin/Vehicle" class="kt-menu__link ">
                <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                <span class="kt-menu__link-text">Vehicle</span>
            </a>
        </li>*@

                @*<li class="kt-menu__item " aria-haspopup="true">
            <a href="/admin/Variant" class="kt-menu__link ">
                <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                <span class="kt-menu__link-text">Variant</span>
            </a>
        </li>*@

                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ProductGroup" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Product Group</span>
                    </a>
                </li>

                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/Product" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Part Master</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ShowSalesTrackerWithInvoice" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Show Sales</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/Banner" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Banner</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/MgaBanner" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Updates</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/StockColorSettings" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Stock Color</span>
                    </a>
                </li>
                @*<li class="kt-menu__item " aria-haspopup="true">
            <a href="/admin/ProductAvailabilityType" class="kt-menu__link ">
                <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                <span class="kt-menu__link-text">Availability Type</span>
            </a>
        </li>*@
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/AllOrders" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">My Orders</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/home/SalesGrowth" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Sales Growth</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/wallet" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Wallet</span>
                    </a>
                </li>
                @*<li class="kt-menu__item " aria-haspopup="true">
            <a href="/admin/MailTemplate" class="kt-menu__link ">
                <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                <span class="kt-menu__link-text">Mail Template</span>
            </a>
        </li>*@
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/BestSeller" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Fast Moving</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/SupportHtml" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Support Html</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/SupportQuery" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Support Query</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ProductType" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Product Type</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/GrowthPercentage" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Growth Percentage</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/NewPartRequest" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">New Part Requests</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/CustomerBackOrders" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Back Orders</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <i class="kt-menu__link-icon fa fa-file-import"></i>
            <span class="kt-menu__link-text">Import</span>
            <i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="kt-menu__submenu ">
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ImportOutlet" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Outlet</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ImportRoIncharge" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">RO Incharge</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ImportSalesExecutive" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Sales Executive</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ImportWorkShop" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Customer Info</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ImportProducts" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Part Master</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ImportDailyStock" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Daily Stock</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ImportDailySalesTrackerWithInvoice" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Daily Sales</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ImportCustomerBackOrder" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Customer Back Order</span>
                    </a>
                </li>
                @*<li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ImportOutstanding" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Outstanding</span>
                    </a>
                </li>*@
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ImportAccountLedgers" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Account Ledger</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/admin/ImportRequestPartFilter" class="kt-menu__link ">
                        <i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i>
                        <span class="kt-menu__link-text">Request Part Filter </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>