@model IEnumerable<Garaaz.Models.CashbackRange>

@{
    bool isEmptyRow = ViewBag.EmptyRow;
}

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="row" id="@item.CashbackRangeId">
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Start Range<em>*</em></label>
                    <input type="text" class="form-control start-range" value="@item.StartRange" placeholder="Start Range">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>End Range</label>
                    <input type="text" class="form-control end-range" value="@item.EndRange" placeholder="End Range">
                </div>
            </div>
            <div class="col-sm-1">
                <label> &nbsp;</label>
                <a class="modal-trash-icon" href="javascript:void(0);" title="Delete current cashback range" onclick="schemes.removeCurrentCashBackRange(this)">
                    <i class="la la-trash"></i>
                </a>
            </div>
        </div>
    }
}
else
{
    <div class="row" id="0">
        <div class="col-sm-5">
            <div class="form-group">
                <label>Start Range<em>*</em></label>
                <input type="text" class="form-control start-range" placeholder="Start Range" value=@(isEmptyRow?"":"0")>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label>End Range</label>
                <input type="text" class="form-control end-range" placeholder="End Range" value=@(isEmptyRow?"":"100")>
            </div>
        </div>
        <div class="col-sm-1">
            <label> &nbsp;</label>
            <a class="modal-trash-icon" href="javascript:void(0);" title="Delete current cashback range" onclick="schemes.removeCurrentCashBackRange(this)">
                <i class="la la-trash"></i>
            </a>
        </div>
    </div>
}


