
@{
    ViewBag.Title = "UnAuthorize";
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">
                        <!-- begin:: Content -->
                        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                            <div class="alert alert-light alert-elevate">
                                <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                                <div class="alert-text">
                                    You are not authorized to access this feature. Contact Administrator for enabling access.
                                </div>
                            </div>
                        </div>
                        <!-- end:: Content -->
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
