@using Garaaz.Models
@model List<clsVehicle>

@{
                /**/

                /**/

                ViewBag.Title = "Vehicles";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-subheader-search">
    <h3 class="kt-subheader-search__title" style="display: inline-block;">
        Vehicles
    </h3>
    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-brand btn-elevate btn-icon-sm" style="float: right;display: inline-block;">
        <i class="la la-step-backward"></i>
        Back
    </a>
</div>

<header class="ribbon">
    <h2>&nbsp;</h2>
</header>
<div class="page-content">
    <div class="container-fluid">
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">            
            <!--Begin::Section-->
            <div class="row">
                @if (Model.Count == 0)
                {
                    @:No vehicles found.
                }
                @foreach (var vehicle in Model)
                {
                    <div class="col-sm-3">
                        <a href='@Url.Action("Variants","Home",new { @id = vehicle.VehicleId })' class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head kt-portlet__head--noborder">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title"></h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body kt-portlet__body--fit-y">
                                <!--begin::Widget -->
                                <div class="kt-widget kt-widget--user-profile-4">
                                    <div class="kt-widget__head">
                                        <div class="kt-widget__media">
                                            <img class="kt-widget__img kt-hidden-" src="@Html.Raw(vehicle.ImagePath)" alt="image" onerror="changeurl(this)">
                                        </div>
                                        <div class="kt-widget__content">
                                            <div class="kt-widget__section">
                                                <div class="kt-widget__username">
                                                    @vehicle.VehicleName
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Widget -->
                            </div>
                            <div class="kt-portlet__head kt-portlet__head--noborder">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title"></h3>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <!--End::Section-->
        </div>
    </div>
</div>